body {
    background-color: black;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

form {
    color: white;
}

/* Header */
#head {
    background-image: url("https://i.pinimg.com/originals/87/54/ed/8754ede467cc461cbf82ec672dcdaf39.jpg");
    background-size: cover;
    min-height: 520px;
    text-align: center;
    padding-top: 240px;
    color: white;
    font-family: "Open sans", Helvetica, Arial;
    font-weight: 300;
}

#head.secondary {
    height: 100px;
    min-height: 100px;
    padding-top: 0px;
}

#head .lead {
    font-family: "Open sans", Helvetica, Arial;
    font-weight: bold;
    font-size: 54px;
    margin-bottom: 6px;
    color: white;
    line-height: 1.15em;
}

#head .tagline {
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 25px;
}

#head .tagline a {
    color: #fff;
}

#head .btn {
    margin-bottom: 10px;
}

#head .btn-default {
    text-shadow: none;
    background: transparent;
    color: rgba(255, 255, 255, .5);
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
    box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
    background: transparent;
}

#head .btn-default:hover,
#head .btn-default:focus {
    color: rgba(255, 255, 255, .8);
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
    box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
    background: transparent;
}

#head .btn-default:active,
#head .btn-default.active {
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
    -moz-box-shadow: inset 0px 0px 0px 3px #fff;
    box-shadow: inset 0px 0px 0px 3px #fff;
    background: transparent;
}

.basic-thead {
    background-color: black;
    text-align: center;
}

.basic-trows {
    background-color: #262626;
}

#showingDates {
    margin: 0px;
    padding: 15px;
}

#showingTable {
    color: white;
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, .2);
}

#showingTable > thead > tr > th {
    text-align: center;
}

#showingTable td {
    font-size: medium;
    vertical-align: middle;
    text-align: center;
}

#myReservationTable {
    color: white;
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, .2);
}

#myReservationTable td {
    vertical-align: middle;
    text-align: center;
}

#myReservationTable th {
    text-align: center;
}

#table-container {
    border: 1px solid;
    margin-top: 10px;
}

@media (max-width: 767px) {
    #head {
        min-height: 420px;
        padding-top: 160px;
    }

    #head .lead {
        font-size: 34px;
    }
}

.vertical {
    border-left: 1.5em solid black;
    left: 50%;
}

.sq-button {
    padding: 10px 20px;
}

.nav-info-header {
    display: flex;
    align-items: center;
}

.nav-row {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.sm-input {
    width: 3.5em;
}

/* Autohide navbar */
.slideUp {
    top: -100px;
}

.headroom {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.interactional-theader:hover {
    cursor: pointer;
}

/* Highlights (in jumbotron in most cases) */
.highlight {
    margin-top: 40px;
}

.h-caption {
    text-align: center;
}

.h-caption i {
    display: block;
    font-size: 54px;
    color: #382526;
    margin-bottom: 36px;
}

.h-caption h4 {
    color: #382526;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-family: "Open sans", Helvetica, Arial;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 30px;
}

blockquote {
    font-style: italic;
    font-family: Georgia;
    color: #999;
    margin: 30px 0 30px;
}

label {
    color: #777;
}

.thin {
    font-weight: 300;
}

.page-title {
    margin-top: 20px;
    font-weight: 300;
}

.text-muted {
    color: #888;
}

.breadcrumb {
    background: none;
    padding: 0;
    margin: 30px 0 0px 0;
}

ul.list-spaces li {
    margin-bottom: 10px;
}

/* Helpers */
.container-full {
    margin: 0 auto;
    width: 100%;
}

.top-space {
    margin-top: 0px;
}

.top-margin {
    margin-top: 150px;
}

img {
    max-width: 100%;
}

img.pull-right {
    margin-left: 10px;
}

img.pull-left {
    margin-right: 10px;
}

/* Sidebars */
.sidebar {
    padding-top: 36px;
    padding-bottom: 30px;
}

.sidebar .widget {
    margin-bottom: 20px;
}

.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 {
    margin-top: 20px;
}

/*@media (min-width: 768px) {*/
/*    .nav.navbar-nav > li > a {*/
/*        padding-top: 0px;*/
/*        padding-bottom: 15px;*/
/*    }*/
/*}*/

/* Footer */

.footer2 {
    background: #191919;
    padding: 15px 0;
    color: #777;
    font-size: 12px;
    clear: both;
    position: relative;
    width: 100%
}

.footer2 a {
    color: #aaa;
}

.footer2 a:hover {
    color: #fff;
}

.footer2 p {
    margin: 0;
}

.widget-simplenav {
    margin-left: -5px;
}

.widget-simplenav a {
    margin: 0 5px;
}

/*.row {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
.panel-price-list {
    margin-top: 150px;
    color: white;
    border: 1px solid white;
}

.user-block {
    display: flex;
    align-items: center;
}

.nav-list-item {
    text-align: center;
    color: white;
}

.nav-list-item .list-user-name {
    font-family: "Open sans", Helvetica, Arial;
}

.container .text-center .photo-horizontal-container {
    margin: 0px;
}

div.home-photo {
    padding-top: 15px;
}

.container > .panel-margin {
    background-color: black;
}

.panel-body > .row {
    color: white;
}


.panel-body > .row > hr {
    margin: 20px 0px 20px 0px;

}

.panel.panel-default.panel-movie {
    border: 0px;
    padding: 0px;
    background-color: black;
}

.panel.panel-default.panel-movie > div {
    color: white;
    padding: 10px;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, 0.01);
    border: 2px solid rgba(62, 62, 62, 0.5);
}

.panel.movie-info-panel {
    padding: 10px;
    background-color: rgba(78, 78, 78, 0.1);
    border: 1px solid rgba(62, 62, 62, 0.5);
}

.panel-body {
    background-color: black;
}

.panel-body.row {
    color: white;
}

div.row .movie-info-row {
    margin: 0;
    padding: 5px;
}

.movie-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 15px 15px 0px 15px;
}

h3.thin {
    margin: 0;
}

.movie-title h3 {
    margin: 0;
}

.picture-grid {
    margin-top: 110px;
    text-align: center;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 15px;
}

.picture-grid img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

div.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.picture-grid a.thumbnail {
    padding: 0px;
    background-color: black;
    border: none;
}

.home-photo:hover img {
    opacity: 0.8;
}

div.home-photo-text {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}

.home-photo:hover .middle {
    opacity: 1;
}

.panel-margin {
    margin-top: 110px;
}

.panel-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: black;
    text-align: center;
}

.repertoire-panel > .panel-body {
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-family: "Open sans", Helvetica, Arial;
    color: white;
}

/*li.list-group-item {*/
/*    border: 1px solid rgba(255, 255, 255, 0.2);*/
/*    background-color: black;*/
/*}*/

div.row.repertoire-row {
    display: flex;
    align-items: center;
}

form.filter-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

div.form-panel {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: black;
    color: white;
}

div.login-bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.login-bottom-row > div {
    float: left;
}

/*signUp styles*/
.my-login-form {
    margin: 0px auto 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 45%;
    padding: 10px;
    border: 2px solid rgba(62, 62, 62, 0.5);
}

.login-form {
    margin: auto;
    width: 60%;
}

.send-button {
    background: #54C7C3;
    width: 100%;
    font-weight: 600;
    color: #ffffff;
    padding: 8px 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.my-input {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: text;
    padding: 8px 10px;
    transition: border .1s linear;
}

.header-title {
    color: white;
    margin-bottom: 1em;
}

h1 {
    font-size: 31px;
    line-height: 40px;
    font-weight: 600;
    color: #4c5357;
}

h2 {
    color: #5e8396;
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

li.list-group-item.dark {
    background-color: black;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.main {
    margin-left: 5px;
}

.counter {
    width: 45px;
    padding: 5px 0px 6px 0px;
    border-radius: 0px !important;
    text-align: center;
}

.up_count {
    margin-left: -4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.down_count {
    margin-right: -4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

button.count {
    padding: 10px 10px;
}

.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

